<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="filename">./src/test/resources/logs</Property>
	</Properties>
	<Appenders>
		<RollingFile name="file" fileName="${filename}/logs.log" filePattern="${filename}/logs-%d{HH:mm:ss.SSS}.log">
			<PatternLayout>
				<pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</pattern>
			</PatternLayout>
			<SizeBasedTriggeringPolicy size="1000" />
		</RollingFile>
		<Console name="ABC" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="pages" level="trace" additivity="false">
			<AppenderRef ref="file" />
			<AppenderRef ref="ABC" />
		</Logger>
		<Root level="fatal">
			<AppenderRef ref="ABC" />
			<AppenderRef ref="file" />
		</Root>
	</Loggers>
</Configuration>